HTML {
	COLOR: #000000; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #ffffff
}
BODY {
	COLOR: #000000; FONT-FAMILY: sans-serif; BACKGROUND-COLOR: #ffffff
}
A:link {
	COLOR: #1f00ff; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #9900dd; BACKGROUND-COLOR: transparent; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #9900dd; BACKGROUND-COLOR: transparent; TEXT-DECORATION: none
}
.center {
	TEXT-ALIGN: center
}
.italic {
	FONT-STYLE: italic
}
.bold {
	FONT-WEIGHT: bold
}
.quote {
	MARGIN-LEFT: 40px; MARGIN-RIGHT: 40px
}
.hrsmall {
	MARGIN-LEFT: 20px; WIDTH: 80px; HEIGHT: 1px
}
.td_title {
	BORDER-RIGHT: #3366cc thin solid; BORDER-TOP: #3366cc thin solid; FONT-WEIGHT: bold; BORDER-LEFT: #3366cc thin solid; COLOR: #3366cc; BORDER-BOTTOM: #3366cc thin solid; BACKGROUND-COLOR: #f2f2f9
}
.td_con {
	PADDING-LEFT: 8px; FONT-SIZE: smaller; PADDING-BOTTOM: 3px; COLOR: #303030; PADDING-TOP: 3px; BACKGROUND-COLOR: #fefefe
}
.translations {
	FONT-SIZE: smaller; COLOR: black; FONT-FAMILY: serif; BACKGROUND-COLOR: transparent
}
.fsflink {
	PADDING-LEFT: 5px; FONT-SIZE: smaller; PADDING-BOTTOM: 5px; BORDER-LEFT: #3366cc thin solid; COLOR: #000000; BORDER-BOTTOM: #3366cc thin solid; FONT-FAMILY: monospace
}
.fsflink_rtl {
	BORDER-RIGHT: #3366cc thin solid; PADDING-RIGHT: 5px; FONT-SIZE: smaller; PADDING-BOTTOM: 5px; COLOR: #000000; BORDER-BOTTOM: #3366cc thin solid; FONT-FAMILY: monospace
}
.trans {
	PADDING-LEFT: 20px; FONT-SIZE: smaller; BORDER-LEFT: #3366cc thin solid; COLOR: #000000
}
.trans_rtl {
	BORDER-RIGHT: #3366cc thin solid; PADDING-RIGHT: 20px; FONT-SIZE: smaller; COLOR: #000000
}
IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
TD.side {
	BORDER-LEFT-COLOR: white; BORDER-BOTTOM-COLOR: white; VERTICAL-ALIGN: top; WIDTH: 150px; COLOR: #3366cc; BORDER-TOP-STYLE: none; BORDER-TOP-COLOR: white; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-RIGHT-COLOR: white; BORDER-BOTTOM-STYLE: none
}
DIV.copyright {
	BORDER-RIGHT: #3366cc thin solid; PADDING-RIGHT: 4px; BORDER-TOP: #3366cc thin solid; PADDING-LEFT: 4px; FONT-SIZE: 80%; BACKGROUND: #f2f2f9; PADDING-BOTTOM: 4px; BORDER-LEFT: #3366cc thin solid; PADDING-TOP: 4px; BORDER-BOTTOM: #3366cc thin solid
}
.footnoteref {
	FONT-SIZE: smaller; VERTICAL-ALIGN: text-top
}
